*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
h1{
    color: white;
}
.App{
    font-family: sans-serif;
    color: white;
    /* background-color: #282c34; */
    background-image: url(./assets/cover4.jpg);
    max-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.app-wrapper{
    /* text-align: center; */
    /* background-color: rgba(0, 0, 0, 0.6); black film, 40% opacity */
    /* z-index: 1; */
    /* min-height: 100vh; */
}

.form-wrapper{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.step-header span{
    color: rgba(119, 221, 72, 0.733);
}